<h1>Chicago School's Search Engine</h1>
<h2>Find your facts and stay civically engaged!</h2>

<div class="map">

</div>

<div class="school-report-cards">

</div>

<div class="Alderman">

    <div class="alderman-info">

    </div>

    <div class="alderman-form">
        <p>Sign this petition if you'd like your ward to host a town hall!</p>
        <form class="petition-form">
            <div class="form-group">
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="name">
            </div>
            <div class="submit-button">
                <button class="petition-button">
                    Sign the petition!
                </button>
            </div>
        </form>
    </div>

</div>