<h1>Chicago School's Search Engine</h1>
<h2>Find your facts and stay civically engaged!</h2>

<h3>Type your address to find stats on schools in your area!</h3>

<form class="create-form">
    <div class="address-input">
        <label for="address"> Address: </label>
        <input type="text" id="address" name="name">

    </div>

    <div class="city-input">
        <label for="city"> City: </label>
        <input type="text" id="city" name="name">
    </div>

    <div class="zipcode-input">
        <label for="zipcode"> Zipcode: </label>
        <input type="text" id="zipcode" name="name">
    </div>
    <div class="submit-button">
        <button class="school-button">
            Find my schools!
        </button>
    </div>
</form>

