<header>
    <h2>Chicago School Search</h2>
</header>

{{!-- <h1>Chicago School's Search Engine</h1> --}}
<div class="content">
    <h2>Find your facts and stay civically engaged!</h2>

    <h3>Type your address to find stats on schools in your area!</h3>
    <br>
    <div class="boxes-forms">
        <form class="create-form">
         
            <div class="zipcode-input">
                <label for="zipcode"> Zipcode: </label>
                <input type="text" id="zipcode">
            </div>
    </div>
    <br>
    <div class="submit-button">
        <button id="submit" class="school-button">
            Find my schools!
        </button>
        <br>
    </div>
    </form>
    <br>
</div>